/* Fonts */

@font-face {
	font-family: "Steppe";
	src: url("../fonts/Steppe.woff2") format("woff2"), url("../fonts/Steppe.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: "Libre Baskerville";
	src: local("Libre Baskerville"), local("LibreBaskerville-Regular"),
		url("../fonts/librebaskerville.woff2") format("woff2"), url("../fonts/librebaskerville.woff") format("woff"),
		url("../fonts/librebaskerville.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Libre Baskerville";
	src: local("Libre Baskerville Italic"), local("LibreBaskerville-Italic"),
		url("../fonts/librebaskervilleitalic.woff2") format("woff2"),
		url("../fonts/librebaskervilleitalic.woff") format("woff"),
		url("../fonts/librebaskervilleitalic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

/* General Rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: initial;
	padding: initial;
}

a {
	text-decoration: initial;
	color: currentColor;
}

body {
	margin: 0;
	background-color: lightgray;
}

.page {
	width: 1165px;
	position: relative;
	background-color: white;
	overflow: hidden;
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
}

@media (min-width: 1176px) {
	.page {
		border-radius: 40px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		filter: drop-shadow(0px 100px 80px rgba(38, 64, 131, 0.07))
			drop-shadow(0px 64.8148px 46.8519px rgba(38, 64, 131, 0.0531481))
			drop-shadow(0px 38.5185px 25.4815px rgba(38, 64, 131, 0.0425185))
			drop-shadow(0px 20px 13px rgba(38, 64, 131, 0.035))
			drop-shadow(0px 8.14815px 6.51852px rgba(38, 64, 131, 0.0274815))
			drop-shadow(0px 1.85185px 3.14815px rgba(38, 64, 131, 0.0168519));
	}
}

.container {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.block-title {
	text-align: center;
	color: #3b505a;

	h1 {
		font-size: 53.4px;
		line-height: 183.5%;
		margin-top: 32px;
		margin-bottom: 0;
	}

	p {
		font-size: 11.3px;
		line-height: 14px;
		margin: 0;
	}
}

.mark {
	position: absolute;
	font-size: 22.9666px;
	line-height: 28px;
	color: #acc0ca;

	hr {
		border: none;
		height: 0.5px;
		width: 34px;
		background-color: #acc0ca;
		transform: rotate(-32deg);
		position: absolute;
		right: -18px;
		top: 12px;
	}
}

/* Main banner */

.banner {
	width: 100%;
	height: 727px;
	background-image: url("../images/main-banner.webp");
	padding-top: 25px;
	font-family: "Steppe";
	font-style: normal;
	font-weight: 400;
	position: relative;
	color: white;

	/* Header */

	header {
		font-size: 11.4px;
		line-height: 14px;
		color: #3b505a;
		display: flex;
		justify-content: end;
	}

	.container {
		position: initial;
	}

	.menu {
		display: flex;
		margin-right: 32px;

		li {
			margin-right: 6px;
			padding-top: 12px;

			a {
				background: rgba(255, 255, 255, 0.1);
				backdrop-filter: blur(42px);
				border-radius: 48px;
				padding: 12px;
				transition: 0.4s;
			}

			a:hover {
				background: rgba(255, 255, 255, 0.4);
				backdrop-filter: blur(42px);
			}
		}

		li:last-child {
			margin-right: 0;
		}
	}

	.socials {
		display: flex;
		margin-top: 8px;

		li {
			margin-right: 13px;
			transition: 0.4s;
		}

		li:hover {
			transform: translateY(-3px);
		}

		li:last-child {
			margin-right: 0;
		}
	}

	.logo {
		width: 180px;
		height: 108px;
		position: relative;

		dt {
			font-size: 53.4px;
			line-height: 64px;
		}

		rt {
			font-family: "Baskerville";
			font-style: normal;
			font-size: 14.5px;
			line-height: 17px;
		}

		dd {
			font-size: 11.3px;
			margin: 0;
			margin-top: 5px;
			i {
				font-size: 12px;
				line-height: 16px;
				font-family: "Libre Baskerville";
			}
		}

		hr {
			width: 80px;
			height: 0.5px;
			border: none;
			background-color: white;
			position: absolute;
			transform: rotate(-31.7deg);
			top: 50px;
			left: 105.2px;
		}
	}

	.house-description {
		height: 245px;
		width: 158px;
		background: rgba(255, 255, 255, 0.09);
		backdrop-filter: blur(75.2696px);
		border-radius: 40px;
		position: absolute;
		top: 397px;
		left: 140px;
		padding: 25px 14px 25px 25px;

		p {
			font-family: "Steppe";
			font-style: normal;
			font-weight: 400;
			font-size: 10px;
			line-height: 183.5%;
			margin: 0;
		}

		hr {
			width: 78px;
			height: 0.5px;
			transform: rotate(-32deg);
			background-color: white;
			border: none;
			position: absolute;
			top: 0;
			right: -63px;
		}

		.circle {
			position: absolute;
			top: -13.5px;
			right: -58px;
			width: 5px;
			height: 5px;
			background-color: white;
			border-radius: 2.5px;
		}
	}
}

/* Options */

.options-list {
	display: flex;
	justify-content: space-between;
	margin-top: 47px;
	margin-bottom: 57px;
	font-family: "Steppe";
	font-style: normal;

	li {
		width: 190px;

		img {
			width: 100%;
		}

		.content {
			width: 100%;
			margin-top: 5px;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;

			.title {
				max-width: 105px;

				h2 {
					font-weight: 400;
					font-size: 11.4px;
					margin: 0;
				}

				p {
					font-weight: 400;
					font-size: 9.7px;
					color: #3b505a;
					margin-top: 3px;
					margin-bottom: 0;
				}
			}

			button {
				padding: 8px 6.5px 6.5px 6.5px;
				border: 1px solid #34b7b7;
				border-radius: 5px;
				background-color: white;
				font-weight: 400;
				font-size: 9.7px;
				color: #3b505a;
				cursor: pointer;
				transition: 0.3s;

				b {
					font-weight: 400;
					font-size: 11.3px;
					color: black;
				}
			}

			button:hover {
				background-color: #d6f0f0;
			}

			.tabs {
				display: flex;
				margin-top: 5px;

				li {
					background-color: #34b7b7;
					border-radius: 36px;
					padding: 2.5px 8px;
					display: flex;
					color: white;
					font-weight: 400;
					font-size: 8px;
					width: fit-content;
					margin-right: 4px;

					img {
						height: 10px;
						width: 10px;
						margin-right: 3px;
					}

					p {
						margin-top: 1.5px;
						margin-bottom: 0;
					}
				}

				li:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
